## 補足 東京JR中央線マンション価格 - Tabpy経由でリアルタイム予測
![tabpy](../images/tabpy連携image.png)

#### ライブラリのインポートとデータの準備
必要なライブラリを呼び出します。

In [1]:
import pandas as pd 
import numpy as np

Tableau Prep Builder で前準備をした入力変数をデータフレームに読み込みます

In [2]:
df = pd.read_csv('housing_tokyo_chuo_line_prep.csv')

データフレームの中身を確認します。

In [3]:
df.head()

,uid,years,minutes,sqrm,distance,renovate,express,rooms,price
0,13101-1,34,3,35,2.983801,0,0,1LDK,24000000
1,13101-2,37,4,20,2.983801,0,0,1K-1DK,13000000
2,13101-4,34,3,30,2.983801,0,0,1K-1DK,22000000
3,13101-5,35,1,70,2.983801,0,0,2LDK,69000000
4,13101-6,34,3,25,2.983801,0,0,1K-1DK,21000000

出力変数(目的変数:t はpriceです。　データ型も整数であることを確認しておきます。

In [4]:
t = df['price']

In [5]:
t.dtypes

dtype('int64')

レコード数を確認します。

In [6]:
t.shape

(2999,)

UIDとpriceを切り取ったものが入力変数:xとなります。

In [7]:
x = df.iloc[:,1:-1]

入力変数:x の中身を確認します。

In [8]:
x.head()

   years  minutes  sqrm  distance  renovate  express   rooms
0     34        3    35  2.983801         0        0    1LDK
1     37        4    20  2.983801         0        0  1K-1DK
2     34        3    30  2.983801         0        0  1K-1DK
3     35        1    70  2.983801         0        0    2LDK
4     34        3    25  2.983801         0        0  1K-1DK

rooms のみobjectでその他は数値型となっています。

In [9]:
x.dtypes

years         int64
minutes       int64
sqrm          int64
distance    float64
renovate      int64
express       int64
rooms        object
dtype: object

ダミー変数化します。この場合、object 型である rooms のみがダミー化されます。

In [10]:
x = pd.get_dummies(x)

中身を確認します。11列あることを確認します。

In [11]:
x.head()

,years,minutes,sqrm,distance,renovate,express,rooms_1K-1DK,rooms_1LDK,rooms_2K-2DK,rooms_2LDK,rooms_3KUP
0,34,3,35,2.983801,0,0,0,1,0,0,0
1,37,4,20,2.983801,0,0,1,0,0,0,0
2,34,3,30,2.983801,0,0,1,0,0,0,0
3,35,1,70,2.983801,0,0,0,0,0,1,0
4,34,3,25,2.983801,0,0,1,0,0,0,0

#### 訓練データと検証データに分割
ここでは、「1.3.機械学習の基本」で学習した、 **ホールドアウト法**を用いてデータを訓練データと検証データに分割します。
`sklearn`の中の`model_selection`の中に`train_test_split`がありますので、こちらをimportしましょう。

In [12]:
from sklearn.model_selection import train_test_split

それぞれ以下の変数名で定義します。
- `x`の訓練データ：`x_train`
- `t`の訓練データ：`t_train`
- `x`の検証データ：`x_val`
- `t`の検証データ：`t_val`

各データのshapeも確認しておきましょう。

In [13]:
# データの訓練データとテストデータに分けます。
x_train, x_val, t_train, t_val = train_test_split(x, t, test_size=0.3, random_state=0)
print('訓練データ : ', x_train.shape, t_train.shape)
print('検証データ : ', x_val.shape, t_val.shape)

訓練データ :  (2099, 11) (2099,)
検証データ :  (900, 11) (900,)

#### scikit-learnのimport
データの準備ができたのでscikit-learnをimportしましょう。`sklearn`の中の`linear_model`（線形モデル）の中の`LinearRegression`（線形回帰）をimportします。

In [14]:
from sklearn.linear_model import LinearRegression

#### モデルの宣言
線形回帰モデルを宣言します。

In [15]:
model = LinearRegression()

#### モデルの学習
学習には訓練データを用います。

In [16]:
model.fit(x_train, t_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### モデルの評価
過学習が起きていないことを確認するために、モデルの評価は訓練データ、検証データの両方で行います。

In [17]:
# 訓練データでの決定係数を確認します。
model.score(x_train, t_train)

0.7944561801191815

In [18]:
# 検証データでの決定係数を確認します。
model.score(x_val, t_val)

0.7984318328546784

#### 予測値の計算（推論）
今回は精度を求める試みはせず、このくらいにしておきましょう。
次に、生成されたモデルを使って全てのデータの入力変数を用いて価格を推論します。

In [19]:
y = model.predict(x)

分かりやすいように列名を付けます。

In [20]:
y = pd.DataFrame(y,columns=["predict"])

中身を確認します。

In [21]:
y.head()

        predict
0  3.133670e+07
1  1.672240e+07
2  2.676520e+07
3  6.268844e+07
4  2.291930e+07

読み込んだデータの右端に推論結果を追加します。

In [22]:
results = pd.concat([df,y],axis=1)

結果を確認します。

In [23]:
results.head()

,uid,years,minutes,sqrm,distance,renovate,express,rooms,price,predict
0,13101-1,34,3,35,2.983801,0,0,1LDK,24000000,3.133670e+07
1,13101-2,37,4,20,2.983801,0,0,1K-1DK,13000000,1.672240e+07
2,13101-4,34,3,30,2.983801,0,0,1K-1DK,22000000,2.676520e+07
3,13101-5,35,1,70,2.983801,0,0,2LDK,69000000,6.268844e+07
4,13101-6,34,3,25,2.983801,0,0,1K-1DK,21000000,2.291930e+07

ここからユニークID：uid　と　推論値　predict のみ取り出しCSVに書き出します。（後ほどTableau でオリジナルデータと結合して分析します。）

In [24]:
results[['uid','predict']].to_csv('result_uid_predict.csv')

## 3.2.6. Tabpy Serverに推論モデルをデプロイする

tabpy clientのインポートと準備をします。

In [25]:
import tabpy_client
client = tabpy_client.Client('http://localhost:9004/')

Tabpy Serverにデプロイしコールできる方の関数を定義します。

In [26]:
#Tableau から入力を受け取り推論値を返すための関数「housing price」を定義します。
def housingprice(years, minutes, sqrm, distance, renovate, express, rooms_1k_1dk, rooms_1ldk, rooms_2k_2dk, rooms_2ldk, rooms_3kup):

#pandasのインポート
    import pandas as pd

#入力変数をデータフレームとして格納
    years = pd.DataFrame(years)
    minutes = pd.DataFrame(minutes)
    sqrm = pd.DataFrame(sqrm)
    distance = pd.DataFrame(distance)
    renovate = pd.DataFrame(renovate)
    express = pd.DataFrame(express)
    rooms_1k_1dk = pd.DataFrame(rooms_1k_1dk)
    rooms_1ldk = pd.DataFrame(rooms_1ldk)
    rooms_2k_2dk = pd.DataFrame(rooms_2k_2dk)
    rooms_2ldk = pd.DataFrame(rooms_2ldk)
    rooms_3kup = pd.DataFrame(rooms_3kup)

    #入力変数を１つのデータフレームに連結
    data = pd.concat([years, minutes, sqrm, distance, renovate, express, rooms_1k_1dk, rooms_1ldk, rooms_2k_2dk, rooms_2ldk, rooms_3kup],axis=1)
    
    #作成したモデルを利用して予測値を取得
    y = model.predict(data)
    
    #予測結果をリストとして返す
    return y.tolist()

Tabpy Server にデプロイします。Jupyter Notebook,Tabpyともに管理者権限できどうしないと失敗するようです。

In [37]:
client.deploy('housingprice', housingprice, 'Predict Real Estate Price',override=True)

Tableau から入力を受け付けると想定してそれぞれのパラメータをリストに変換します。一つ一つがTableau のメジャーになるイメージです。

In [38]:
import numpy as np

years = x['years'].values.tolist()
minutes = x['minutes'].values.tolist()
sqrm = x['sqrm'].values.tolist()
distance = x['distance'].values.tolist()
renovate = x['renovate'].values.tolist()
express = x['express'].values.tolist()
rooms_1k_1dk = x['rooms_1K-1DK'].values.tolist()
rooms_1ldk = x['rooms_1LDK'].values.tolist()
rooms_2k_2dk = x['rooms_2K-2DK'].values.tolist()
rooms_2ldk = x['rooms_2LDK'].values.tolist()
rooms_3kup = x['rooms_3KUP'].values.tolist()

client.qury によってデプロイされたモデルにテストデータの入ったリストを投入します。

In [39]:
results = client.query('housingprice',years, minutes, sqrm, distance, renovate, express, rooms_1k_1dk, rooms_1ldk, rooms_2k_2dk,rooms_2ldk,rooms_3kup)

In [40]:
#入力変数をデータフレームとして格納
years = pd.DataFrame(years)
minutes = pd.DataFrame(minutes)
sqrm = pd.DataFrame(sqrm)
distance = pd.DataFrame(distance)
renovate = pd.DataFrame(renovate)
express = pd.DataFrame(express)
rooms_1k_1dk = pd.DataFrame(rooms_1k_1dk)
rooms_1ldk = pd.DataFrame(rooms_1ldk)
rooms_2k_2dk = pd.DataFrame(rooms_2k_2dk)
rooms_2ldk = pd.DataFrame(rooms_2ldk)
rooms_3dk_3ldk = pd.DataFrame(rooms_3kup)

#入力変数を１つのデータフレームに連結
data = pd.concat([years, minutes, sqrm, distance, renovate, express, rooms_1k_1dk, rooms_1ldk, rooms_2k_2dk, rooms_2ldk, rooms_3dk_3ldk],axis=1)

In [41]:
data.shape

(2999, 11)

In [42]:
data.head()

    0  0   0         0  0  0  0  0  0  0  0
0  34  3  35  2.983801  0  0  0  1  0  0  0
1  37  4  20  2.983801  0  0  1  0  0  0  0
2  34  3  30  2.983801  0  0  1  0  0  0  0
3  35  1  70  2.983801  0  0  0  0  0  1  0
4  34  3  25  2.983801  0  0  1  0  0  0  0

In [43]:
y_pred = model.predict(data)

結果を確認します。それなりの値が入っている気がします。

In [44]:
results["response"]

[31336700.812907223,
 16722397.227125943,
 26765196.473031756,
 62688442.88107689,
 22919298.277486183,
 70175370.49630588,
 39243016.523220435,
 53716270.468476884,
 27375019.09504606,
 53657575.017075,
 27375019.09504606,
 53716270.468476884,
 57101364.45273095,
 51150748.294440165,
 19073400.081940606,
 72740892.6703426,
 81713065.0829426,
 53716270.468476884,
 51150748.294440165,
 48352518.177133426,
 69127702.41806704,
 22019394.95161715,
 70175370.49630588,
 27440024.093201786,
 24874501.919165064,
 31578803.360816628,
 32304353.12528944,
 32304353.12528944,
 32304353.12528944,
 17880416.125138886,
 14034517.92959331,
 32304353.12528944,
 32304353.12528944,
 32304353.12528944,
 12920095.28450222,
 31578803.360816628,
 12920095.28450222,
 16765993.480047796,
 20611891.675593372,
 32304353.12528944,
 28685982.809221346,
 12920095.28450222,
 48373756.34369601,
 37662174.49201523,
 74806192.18131399,
 46418460.92403726,
 49925475.22298185,
 27856281.63188288,
 27856281.63188288,
 49925475.22298185,
 27856281.63188288,
 47788991.68738924,
 31702179.827428453,
 30853253.596343808,
 31578803.360816628,
 31578803.360816628,
 31578803.360816628,
 30853253.596343808,
 14063932.78705484,
 14063932.78705484,
 12027219.74954331,
 14592741.923580036,
 12027219.74954331,
 12027219.74954331,
 10218034.591509264,
 9492484.827036452,
 14063932.78705484,
 20444622.284964353,
 14063932.78705484,
 35424701.5563622,
 35424701.5563622,
 30311435.899563193,
 39628685.38099619,
 30311435.899563193,
 34502411.16394176,
 30311435.899563193,
 36150251.32083502,
 57078777.82731612,
 31936888.98990504,
 31936888.98990504,
 31936888.98990504,
 55737884.30750838,
 35424701.5563622,
 33387988.518850677,
 31036985.664036013,
 31936888.98990504,
 39628685.38099619,
 35424701.5563622,
 51480726.16479313,
 50755120.02046324,
 50213358.7035397,
 44361478.34215538,
 30853253.596343808,
 30853253.596343808,
 30853253.596343808,
 31711614.713581514,
 28756184.95775191,
 48116290.0649478,
 46805126.79190908,
 39698887.529526755,
 30986008.569251627,
 28756184.95775191,
 48116290.0649478,
 46805126.79190908,
 45309715.092413604,
 74929655.4340789,
 10034407.698295683,
 63258830.04863264,
 10034407.698295683,
 25407792.288437102,
 27605850.327089425,
 53476918.982932754,
 25040328.153052703,
 61593154.82060787,
 62318760.96493776,
 57519557.80642595,
 34357577.6344857,
 47390223.94171041,
 68405456.00616011,
 66259022.27575594,
 57519557.80642595,
 34644084.664238065,
 74893688.1187565,
 47390223.94171041,
 80257440.41009997,
 64732887.16036217,
 84474432.79498938,
 50364127.01125898,
 55917060.17117952,
 19196060.63092444,
 80898604.63235357,
 80628534.5994438,
 33628397.81605345,
 21310157.09996564,
 83085886.09042099,
 56597494.733021446,
 65063586.14517574,
 50364127.01125898,
 58730120.89563868,
 86931784.28596658,
 47573511.28950716,
 36616422.83047534,
 19043115.8147621,
 22935610.190307483,
 31490148.61342091,
 111640455.04604477,
 40137595.69766096,
 42703117.87169769,
 28116880.772340182,
 21655234.168798633,
 21655234.168798633,
 19768721.959091987,
 29051096.229219884,
 29051096.229219884,
 45832614.222266555,
 29051096.229219884,
 63906150.13572158,
 65412361.9721324,
 20742648.984067734,
 57315883.77195301,
 73242544.60929736,
 57315883.77195301,
 57306732.58467296,
 73242544.60929736,
 50764698.08562265,
 54750361.59791629,
 44374298.12123585,
 74693644.138243,
 40528399.92569027,
 54750361.59791629,
 77088442.80484295,
 73242544.60929736,
 73846020.04051766,
 88996904.87942997,
 86431382.70539322,
 68365290.24833426,
 77691918.23606324,
 76411542.2145544,
 86431382.70539322,
 86206234.52149376,
 64844117.38114864,
 67020766.67456709,
 101757976.58963117,
 58730153.68875095,
 38304999.26142695,
 68799311.12469569,
 62880963.19530368,
 73842195.46065456,
 44143911.71955779,
 44143911.71955779,
 61259107.365809,
 9439415.683433801,
 99919028.39171582,
 28842430.536813,
 28842430.536813,
 84892270.88024051,
 57973783.87963601,
 69458304.14819148,
 65673408.76719005,
 49827932.35449366,
 60997991.866587125,
 56208394.533387244,
 60997991.866587125,
 62893938.96244684,
 69458304.14819148,
 71441842.86762173,
 24314778.388579883,
 35204306.64227346,
 35204306.64227346,
 43500529.93437955,
 44042347.63116017,
 35204306.64227346,
 40859389.99585309,
 24314778.388579883,
 24314778.388579883,
 35204306.64227346,
 51807702.87391789,
 55653601.06946347,
 37883647.95285332,
 50896423.86286816,
 11103070.14582904,
 37883647.95285332,
 46412350.12554081,
 46412350.12554081,
 29693829.676766835,
 50896423.86286816,
 45077422.458949134,
 24374388.50586715,
 41456883.49034271,
 22377480.58070557,
 3200394.039329618,
 7046292.234875191,
 65387941.81564432,
 25262261.592798293,
 15920802.997916888,
 48284532.827847555,
 73928017.22435634,
 58972891.39210258,
 28513167.773481987,
 13784319.46232428,
 35068154.452930644,
 40094714.55176106,
 36262165.985998996,
 14407150.644594003,
 22313466.354907215,
 40592736.4367564,
 32891505.159512196,
 27603885.94131697,
 28718308.586408064,
 23032437.98129858,
 17446541.970034726,
 32644831.927404366,
 21808866.331830427,
 25610968.715590723,
 31256673.562874362,
 12056147.789779339,
 58055781.063474685,
 36351307.619402654,
 41561714.34522706,
 58247341.627629764,
 18523542.845657438,
 64465651.42322388,
 16888711.249019604,
 27245800.312228557,
 31091698.507774133,
 58972891.39210258,
 91261561.1062245,
 27062068.244536355,
 25262261.592798293,
 32891505.159512196,
 17063064.81041582,
 26336518.48006354,
 63059897.71589663,
 15064695.48383313,
 102850050.31536451,
 25262261.592798293,
 36665083.684346154,
 12965429.621944353,
 35214497.90776016,
 70751694.10698777,
 15597134.674317759,
 45082429.83991012,
 31982223.327347178,
 27787618.00900917,
 27245800.312228557,
 28513167.773481987,
 33785785.44536593,
 15064695.48383313,
 26520250.54775574,
 66905795.911442205,
 27787618.00900917,
 25427236.647898525,
 54437410.74740659,
 26520250.54775574,
 37192459.11401273,
 11218797.288287558,
 32530230.822170865,
 37390633.44881897,
 27787618.00900917,
 27062068.244536355,
 22550372.74068068,
 15920802.997916888,
 83569764.71513337,
 28718308.586408064,
 10493247.523814742,
 32648975.73372343,
 26580059.383775525,
 31982223.327347178,
 25262261.592798293,
 55860157.35658474,
 64340273.73740548,
 62390322.63771961,
 29239158.883661326,
 21089065.019694164,
 18523542.845657438,
 23985515.625248875,
 12056147.789779339,
 27062068.244536355,
 126650989.25311077,
 110541846.70645565,
 25262261.592798293,
 26520250.54775574,
 70751694.10698777,
 27062068.244536355,
 64296477.925620206,
 72032070.12849663,
 26152786.412371337,
 27173480.641516943,
 26520250.54775574,
 67953463.98968104,
 32165955.39503938,
 26520250.54775574,
 49281406.28358313,
 23474485.17999812,
 26520250.54775574,
 16904667.89339704,
 15597134.674317759,
 16888711.249019604,
 61542043.62009874,
 41962595.161197,
 19628586.984452542,
 17063064.81041582,
 48100800.76015535,
 45808493.356742576,
 65387941.81564432,
 12781697.554252155,
 26336518.48006354,
 126650989.25311077,
 26520250.54775574,
 71840719.98896259,
 61333486.47780584,
 31933189.139298066,
 7198759.2559383735,
 55409459.12854146,
 57974981.30257818,
 55409459.12854146,
 10991483.133402683,
 61820879.49812376,
 66911186.39985579,
 27768444.437668335,
 23524294.8552085,
 26286557.657192845,
 23922546.24212276,
 20578299.985531956,
 24424198.181077532,
 43121249.96832078,
 32604637.950868033,
 23166209.226120085,
 28758739.75532246,
 57952645.92252272,
 32021229.898749724,
 41022040.48628908,
 33330187.715340853,
 28758739.75532246,
 44867938.68183465,
 33539083.994547613,
 15527587.153110199,
 34597555.17659429,
 35323104.9410671,
 35323104.9410671,
 32604637.950868033,
 23524294.8552085,
 23524294.8552085,
 28758739.75532246,
 28758739.75532246,
 32021229.898749724,
 22082573.83255885,
 35884509.33618459,
 16978686.68205583,
 32053567.16011269,
 19544208.856092554,
 64364066.29210503,
 53836253.721459284,
 23891758.9905929,
 27012107.42166566,
 23166209.226120085,
 28289294.734921597,
 23390107.05163813,
 15895051.288494598,
 64197541.22717169,
 15711319.220802397,
 23891758.9905929,
 21173292.000393838,
 42395700.20384796,
 20099035.113128588,
 15527587.153110199,
 34586752.07278644,
 20541082.311828125,
 25731731.400156807,
 10283763.74670025,
 66857085.44695294,
 14985769.45632958,
 28192712.945093434,
 38432650.26833202,
 23166209.226120085,
 32436474.187514894,
 24424198.181077532,
 23166209.226120085,
 20824584.877601407,
 27111054.67952782,
 27111054.67952782,
 27111054.67952782,
 40868469.61356228,
 22972472.59556745,
 22972472.59556745,
 25537994.769604173,
 22972472.59556745,
 15280676.204476297,
 20913372.491504513,
 17846198.37851302,
 15280676.204476297,
 15280676.204476297,
 17846198.37851302,
 45493091.891661935,
 22972472.59556745,
 19126574.400021873,
 25537994.769604173,
 42927569.717625216,
 72430232.9069989,
 26098273.12749664,
 36997179.88748621,
 36997179.88748621,
 26107651.633792628,
 63690768.4376689,
 34646177.03267155,
 40631335.908772886,
 22252374.93195107,
 68584334.71145332,
 28676803.861788787,
 26098273.12749664,
 40447603.84108068,
 43044377.83560517,
 56590334.0074802,
 37833105.79146615,
 26107651.633792628,
 48821154.18485937,
 52744435.81193462,
 35826782.55609932,
 24830905.66624321,
 45019051.80109907,
 47809324.70965012,
 49778089.20178503,
 38607631.431516774,
 22252374.93195107,
 46255632.01082265,
 37833105.79146615,
 28673173.80782935,
 18933463.826033685,
 42453529.62706235,
 65252415.04528052,
 35267583.61742942,
 38912770.06153986,
 50430650.63082378,
 21498986.000070408,
 58577502.780869894,
 67124419.40343595,
 11362076.79652815,
 67945077.66408779,
 67712369.72081777,
 82090229.87840196,
 24000876.129248384,
 66592160.31214257,
 68724270.96736024,
 69637271.46189669,
 62993143.14904438,
 7597488.437951796,
 26072464.446574003,
 2702372.154334277,
 35912774.61219565,
 35912774.61219565,
 36638380.75652553,
 7597488.437951796,
 35912774.61219565,
 11443386.633497372,
 35912774.61219565,
 5267894.328371,
 35912774.61219565,
 35912774.61219565,
 35187224.84772283,
 36638380.75652553,
 35912774.61219565,
 35912774.61219565,
 12146549.331418779,
 9048587.966897428,
 13999530.301238108,
 35482883.06475525,
 2702372.154334277,
 44523287.72160487,
 73880437.34600696,
 21954397.027469233,
 50011493.483027,
 25556455.430716027,
 69757111.73841822,
 20994385.97699362,
 33248251.821807176,
 49213884.438453004,
 66600795.99202306,
 61487530.33522405,
 54373518.9562359,
 36151789.84649187,
 26094159.99343364,
 27429532.37992076,
 81148377.23950702,
 47070339.68467538,
 36652017.1879348,
 47795889.4491482,
 43063437.5575171,
 66374607.07933901,
 81148377.23950702,
 27429532.37992076,
 54113969.74282339,
 56604681.534529045,
 29596803.16704322,
 58344311.757496305,
 29054985.470262606,
 56016267.65774862,
 25620347.22188671,
 64755732.127078615,
 29596803.16704322,
 58344311.757496305,
 28015145.88848665,
 57296643.67925747,
 62360933.46047866,
 25583129.548182882,
 59795411.28644194,
 58344311.757496305,
 58022193.44373029,
 62593641.403748676,
 53450745.4837119,
 52855980.787865944,
 25620347.22188671,
 38717312.0205286,
 15988807.923150573,
 18523542.845657438,
 32162325.341079943,
 57296643.67925747,
 56371973.59125903,
 23017607.374146156,
 29054985.470262606,
 32900883.66580818,
 36151789.84649187,
 36151789.84649187,
 36151789.84649187,
 36151789.84649187,
 36151789.84649187,
 32054154.658020414,
 36151789.84649187,
 36151789.84649187,
 36151789.84649187,
 22369441.041203015,
 41545814.0807067,
 51684526.451718226,
 25620347.22188671,
 25620347.22188671,
 58344311.757496305,
 61313265.382239826,
 67362313.07181826,
 57951822.6823038,
 68102220.92275357,
 57569527.93976698,
 73564193.70234501,
 68102220.92275357,
 32569397.405159824,
 26401461.55943244,
 69942193.3323175,
 30003875.2311231,
 57569527.93976698,
 28143843.44400694,
 25578321.269970216,
 60388967.07982126,
 30541442.478821415,
 30541442.478821415,
 33106964.652858138,
 27281157.791841734,
 23308952.29576752,
 33763011.48884302,
 49547485.08699526,
 33763011.48884302,
 47893679.07688593,
 57239281.478086405,
 42485268.95541414,
 51159309.221958816,
 56042473.950081736,
 38438379.68283864,
 83919412.01204967,
 58159755.753186926,
 68535819.22986737,
 68535819.22986737,
 60844022.838776216,
 27558751.16273826,
 20331389.036898054,
 21782488.565843686,
 40573383.283786505,
 38396733.99036805,
 38396677.61051098,
 43138905.45782323,
 40573383.283786505,
 61943328.920594506,
 29867530.71792805,
 54515255.04331916,
 39122283.75484087,
 65002674.53712312,
 65060047.29770783,
 61768975.359198295,
 67179323.83054157,
 49638895.77229361,
 27311036.76174548,
 19619240.37065433,
 59440433.25510129,
 72460014.62221351,
 75786482.18752988,
 31140978.31291362,
 65506776.555850595,
 54168770.681283504,
 51768450.88136294,
 18625996.96887819,
 69894492.44817679,
 29478363.92872502,
 47356525.87558834,
 38490702.099150866,
 55224053.155077256,
 24890902.944472115,
 13436303.85922362,
 9634201.475463323,
 12536400.533354588,
 52354793.04958701,
 30223273.95312673,
 11985204.330277987,
 9634201.475463323,
 12536400.533354588,
 20446346.297627237,
 16687210.039907314,
 30687708.218377672,
 12536400.533354588,
 8139306.13473241,
 50262332.64479561,
 9634201.475463323,
 32138807.747323304,
 24661530.675454214,
 9634201.475463323,
 9634201.475463323,
 9634201.475463323,
 15101922.707391314,
 32702034.189337794,
 12536400.533354588,
 12536400.533354588,
 12536400.533354588,
 55615077.73656669,
 11985204.330277987,
 23721461.59175934,
 22096008.501417488,
 12536400.533354588,
 9634201.475463323,
 38553914.55072211,
 23547108.03036312,
 35742176.51708012,
 12536400.533354588,
 11985204.330277987,
 12536400.533354588,
 15101922.707391314,
 21370458.736944675,
 58263989.79169896,
 22670457.83926839,
 11918065.473267194,
 40632637.735599905,
 31499063.942002036,
 39894023.0310146,
 52198240.52210866,
 46139725.71782224,
 31760179.44122391,
 21219358.310322758,
 15496270.031509448,
 25432720.641252734,
 24890902.944472115,
 72958036.50720885,
 58898615.55832067,
 52922240.276748374,
 49985623.91336781,
 49722359.33755542,
 29960814.13519237,
 11447882.755679697,
 28322740.824633475,
 28132430.618859828,
 25278010.158050463,
 24890902.944472115,
 26158270.40572555,
 16458726.181755729,
 37521667.81082313,
 11447882.755679697,
 28736801.140017692,
 31034629.676751092,
 29104265.275402095,
 10633397.504314266,
 62921721.89444386,
 1727407.9700509533,
 63633694.71011724,
 21831592.53529569,
 20613643.925842836,
 64313898.65297168,
 59245978.81779105,
 58704161.12101044,
 48033009.55951427,
 56531710.27009543,
 51728535.98809612,
 46752633.53800543,
 23179166.09987956,
 60835464.5928105,
 10817129.572006468,
 60356199.72040713,
 52715813.536656186,
 9951643.551626734,
 21155461.62262345,
 21831592.53529569,
 59124799.5744761,
 58210337.67851854,
 20613643.925842836,
 10817129.572006468,
 1727407.9700509533,
 9951643.551626734,
 51798917.308936246,
 1727407.9700509533,
 9951643.551626734,
 36059845.91225946,
 24459542.121388413,
 53333978.407492995,
 24459542.121388413,
 4480292.2657393105,
 10817129.572006468,
 49077443.63978927,
 41076141.43919192,
 34284191.99411273,
 24932966.55289696,
 45267116.7035705,
 70031534.83092855,
 33558642.22963992,
 26577176.65583078,
 34284191.99411273,
 60252458.09883854,
 18969786.554246202,
 26287484.29201443,
 33558642.22963992,
 64821299.044263005,
 22983403.793249473,
 22983403.793249473,
 13177510.933117121,
 24966942.512679733,
 37404540.42518549,
 14062583.651833728,
 22983403.793249473,
 26274475.73175901,
 18969786.554246202,
 14788133.416306544,
 31734238.124415066,
 38586521.71931595,
 22441586.09646886,
 25866845.83854877,
 30394497.98678188,
 23883307.119118504,
 39929508.50135799,
 16404264.38020948,
 16628105.82587045,
 66056628.89560515,
 33558642.22963992,
 24966942.512679733,
 40655058.26583081,
 23708953.557722285,
 23316891.968851097,
 62013990.07211194,
 23708953.557722285,
 24562260.703591507,
 15743033.107153844,
 33558642.22963992,
 24966942.512679733,
 24966942.512679733,
 28248635.94489329,
 42584386.40970634,
 56048474.27420455,
 52884102.71233058,
 15731888.933817927,
 56730000.907876156,
 25683113.770856567,
 41048074.952768154,
 21140242.675432652,
 28040306.423714302,
 44357834.87140548,
 21890389.893392254,
 10605558.33690643,
 18992173.62079761,
 16631735.879829887,
 7740576.952718988,
 36040202.83406552,
 37602714.759991735,
 39886101.029611096,
 18689027.97683039,
 39886101.029611096,
 43731999.22515667,
 8245176.975795783,
 39886101.029611096,
 36765808.9783954,
 48303503.56503213,
 16123505.802793663,
 4629607.027942218,
 36040202.83406552,
 47577897.42070225,
 48303503.56503213,
 34051041.07461996,
 39886101.029611096,
 24369150.12960332,
 43731999.22515667,
 68038617.6052023,
 66414714.524693556,
 41604950.57571712,
 40611707.17394099,
 60067669.026385516,
 24415746.309603132,
 14933963.118776428,
 25403593.990379907,
 36040202.83406552,
 36040202.83406552,
 18689027.97683039,
 71054167.40994564,
 31135833.456473272,
 9017322.920268409,
 30970732.98905179,
 9926604.752433427,
 12492126.92647015,
 34467924.061804935,
 55201745.26641679,
 38139468.69595429,
 22257854.028776653,
 44306809.62991473,
 40587498.060492575,
 49544054.89824322,
 16123505.802793663,
 22257854.028776653,
 75154178.99402355,
 34467924.061804935,
 48312654.75231219,
 25150674.580371935,
 74549808.47286567,
 41240671.7743967,
 24415746.309603132,
 24067039.186810702,
 28996572.775917508,
 24415746.309603132,
 15397956.038320847,
 25150674.580371935,
 41782934.19107278,
 15397956.038320847,
 15936973.366886932,
 28441746.518881474,
 64192719.409656726,
 44975213.952818766,
 35460996.52442221,
 24415746.309603132,
 18992173.62079761,
 24415746.309603132,
 48312654.75231219,
 24294567.06628818,
 24067039.186810702,
 14672406.27384803,
 7740576.952718988,
 36030435.98773116,
 45734124.01802004,
 44433396.256038144,
 30211207.264796197,
 25150674.580371935,
 56601877.49002761,
 24067039.186810702,
 14672406.27384803,
 21803627.955566596,
 34467924.061804935,
 24067039.186810702,
 62568816.32914798,
 53424993.77428961,
 64729980.417656325,
 15254389.728454493,
 72867551.01048315,
 65546848.80873582,
 60653282.534951404,
 27884801.863468323,
 31363588.654966682,
 11770207.215956762,
 38366996.57543177,
 16086288.129089836,
 50349595.108839646,
 4963483.543582227,
 29660752.133095164,
 60653282.534951404,
 39553179.61203724,
 9406195.80088668,
 9201054.98796061,
 62821383.00781877,
 13520765.955053113,
 41443605.57457633,
 61383588.39060867,
 11770207.215956762,
 27095229.95905844,
 12810046.797732722,
 64499180.73049698,
 19243854.233866423,
 43747784.93037525,
 59761207.70554526,
 17260315.51443616,
 21551890.96264071,
 51800467.31876935,
 41777254.7712004,
 41777254.7712004,
 54364439.482972965,
 29660752.133095164,
 6840673.626849957,
 58443045.62178856,
 61562564.36711642,
 67925566.50980191,
 27095229.95905844,
 42601824.03145269,
 21551890.96264071,
 43332323.24073056,
 67973984.73669872,
 31730700.059013896,
 45223320.89178522,
 53242188.341419,
 27095229.95905844,
 68038617.6052023,
 11041027.397524517,
 58386241.24974786,
 46566022.41865539,
 5389574.0979043245,
 57235851.28933437,
 24478299.133980382,
 11770207.215956762,
 48687947.384159476,
 13520765.955053113,
 23778084.52018099,
 61896440.88275643,
 27225787.708669376,
 21952942.717769504,
 3720325.1957771964,
 8475505.223487794,
 58878297.28152713,
 37158380.9454373,
 4963483.543582227,
 45624975.01364298,
 28489172.384626187,
 56326569.457169354,
 55758166.25133389,
 28489172.384626187,
 7529005.71761895,
 22712909.78773161,
 48750500.20853672,
 15397956.038320847,
 21938168.490474153,
 33151137.74875093,
 23515842.9837341,
 70123052.85993865,
 30616402.826244064,
 11000861.63969867,
 60119293.33463366,
 36463104.680134706,
 27361741.179279678,
 46670821.04498481,
 52893481.218626566,
 50685066.352360725,
 56257314.17355424,

client._get_endpoints() でデプロイされた関数（エンドポイント）の情報を確認します。

In [45]:
client.get_endpoints()['housingprice']

{'type': 'model', 'schema': None, 'creation_time': datetime.datetime(2020, 3, 10, 7, 13), 'dependencies': [], 'last_modified_time': datetime.datetime(2020, 4, 1, 6, 50, 9), 'description': 'Predict Real Estate Price', 'name': 'housingprice', 'version': 5}

### ここからはTableau Desktopで確認し、リアルタイムで物件情報を変更したときに予測値が変わることを確認します。
![dashboard](../images/中央線マンション価格予測ダッシュボード.png)